[Desktop Entry]
Name=Resilient Linux Installer
Exec=xhost si:localuser:root
Exec=sudo /usr/lib/resilientlinux-installer-DEPLOYER_MAJOR/deployer.sh
Terminal=false
Type=Application
Icon=deployer
StartupNotify=true
