[Desktop Entry]
Name=Resilient Linux Installer
Exec=gksudo /usr/lib/resilientlinux-installer-DEPLOYER_MAJOR/deployer.sh
Terminal=false
Type=Application
Icon=deployer
StartupNotify=true
